@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}

/*--ibg--------------------------------------------------------------------------------------------------------*/

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
	
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

/*--header--------------------------------------------------------------------------------------------------------*/

.header{
	padding: 15px 0px;
}
.header_content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_menu_item {
	display: flex;
	align-items: center;
}
.header_menu_item_link {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	line-height: 0;
	color: #000;
	text-decoration: none;
}
.header_menu_item_link:not(:last-child){
	margin-right: 32px;
}
.header_btn {
	font-size: 14px;
	color: #fff;
	background-color: #C13512;
	border: none;
	padding: 20px 30px;
	cursor: pointer;
}

/*--hero--------------------------------------------------------------------------------------------------------*/

.hero {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	z-index: 1;
}
.hero_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.hero_content {
	text-align: center;
}
.hero_text {
	color: #fff;
}
.hero_text_title {
	font-family: "Libre Baskerville", serif;
	font-size: 56px;
	font-weight: 600;
	text-transform: capitalize;
	letter-spacing: 1.2px;
	margin: 120px 0px 10px 0px;
	padding: 0px 10px;
}
.hero_text_subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #f5f5f5;
	padding: 0px 150px;
}
.hero_buttons {
	margin: 50px 0px 60px 0px;
}
.hero_btn {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	letter-spacing: 0.46px;
	cursor: pointer;
	padding: 15px 50px;
}
.hero_btn:not(:last-child){
	margin-right: 30px;
}
.btn_g {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}
.btn_w {
	color: #023F3A;
}
.hero_image > img{
	width: 80%;
}

/*--mission--------------------------------------------------------------------------------------------------------*/

.mission {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 90px 0px;
}
.mission_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mission_text_title {
	font-family: "Libre Baskerville", serif;
	font-size: 48px;
	line-height: 120%;
	font-weight: 600;
	margin-bottom: 30px;
}
.mission_text_subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	line-height: 130%;
}
#mission_subtitle{
	padding-top: 30px;
}
.mission_column {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
.mission_column_item {
	display: flex;
	align-items: center;
}
.mission_column_item:nth-child(2){
	margin: 0px 45px;
}
.mission_column_item:last-child{
	margin-top: 20px;
}
.mission_column_item_text {
	font-family: "Libre Baskerville", serif;
	font-size: 20px;
	line-height: 32px;
	margin-left: 30px;
}
.mission_images {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mission_images_top {
	margin-bottom: 30px;
}
.mission_images_bot {
	display: flex;
	align-items: center;
}
.mission_images_bot1 {
	margin-right: 30px;
}

/*--choose--------------------------------------------------------------------------------------------------------*/

.choose {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0px;
}
.choose_content{
	text-align: center;
}
.choose_title {
	font-family: "Libre Baskerville", serif;
	font-size: 48px;
	line-height: 120%;
	font-weight: 600;
	margin-bottom: 30px;
}
.choose_columns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.choose_columns_item {
	max-width: 340px;
	text-align: left;
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.choose_columns_item_content{
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	padding: 230px 20px 20px 20px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.895), rgba(255, 255, 255, 0) 50%);
	border-radius: 10px;
}
.choose_columns_item_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: 10px;
}
.choose_columns_item_title {
	font-family: "Libre Baskerville", serif;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 10px;
}
.choose_columns_item_subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	line-height: 130%;
}

/*--buy--------------------------------------------------------------------------------------------------------*/

.buy {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0px;
	background-color: #F2EEE9;
}
.buy_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 64px 0px;
}
.buy_content_video {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buy_content_video_image > img {
	border-radius: 10px;
}
.buy_content_video_pause {
	position: absolute;
}
.buy_content_text {
	max-width: 445px;
}
.buy_content_text_title {
	font-family: "Libre Baskerville", serif;
	font-size: 32px;
	line-height: 120%;
	font-weight: 600;
	margin-bottom: 15px;
	color: #023F3A;
}
.buy_content_text_subtitle {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	line-height: 130%;
	color: #525560;
}
#text_subtitle{
	margin-top: 20px;
}
.buy_content_text_button {
	font-family: "Josefin Sans", sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 23px;
	margin-top: 20px;
	color: #fff;
	background-color: #023F3A;
	border: 0;
	cursor: pointer;
}

/*--contact--------------------------------------------------------------------------------------------------------*/

.contact {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 64px;
}
.contact_content {
	display: flex;
	align-items: center;
}
.contact_columns {
	display: flex;
	flex-wrap: wrap;
}
.contact_columns_item {
	max-width: 220px;
}
.contact_columns_item_title {
	font-family: "Libre Baskerville", serif;
	font-size: 32px;
	color: #18191F;
	margin: 24px 0px 15px 0px;
}
.contact_columns_item_text {
	font-family: "Josefin Sans", sans-serif;
	font-size: 22px;
	color: #525560;
}
.contact_columns_item_link:not(:last-child) {
	margin-right: 32px;
}
.contact_form {
	display: flex;
	flex-direction: column;
	align-items: start;
	box-shadow: 0px 2px 5px 0.2px #eaeaec;
	border-radius: 10px;
	padding: 40px;
}
.contact_form_title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	color: #333F51;
	font-weight: 500;
	margin-bottom: 10px;
}
.contact_form_input {
	width: 474px;
	height: 46px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	padding: 14px 11px;
	border: 1px solid #D5DAE1;
	box-shadow: 0px 0px 2px 0.5px #D5DAE1;
	border-radius: 10px;
	margin-bottom: 25px;
}
.contact_form_input::placeholder{
	color: #667085;
	font-size: 16px;
}
.contact_form_textarea {
	width: 474px;
	height: 220px;
	resize: none;
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	padding: 14px 11px;
	border: 1px solid #D5DAE1;
	box-shadow: 0px 0px 2px 0.5px #D5DAE1;
	border-radius: 10px;
	margin-bottom: 25px;
}
.contact_form_textarea::placeholder{
	color: #667085;
	font-size: 16px;
}
.contact_form_btn {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	color: #F0FDF4;
	background-color: #023F3A;
	padding: 14px 216.5px;
}

/*--footer--------------------------------------------------------------------------------------------------------*/

.footer {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F6F4;
	padding: 100px 0px;
	text-align: center;
}
.footer_content {
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.footer_content_logo {
	margin-top: 5px;
}
.footer_content_columns {
	display: flex;
}
.footer_content_columns_item {
	display: flex;
	flex-direction: column;
}
.footer_content_columns_item:not(:last-child){
	margin-right: 65px;
}
.footer_content_columns_item_title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	color: #222222;
	margin-bottom: 30px;
	font-weight: 500;
}
.footer_content_columns_item_link {
	font-family: "Josefin Sans", sans-serif;
	font-size: 14px;
	color: #222222;
	text-decoration: none;
	margin-bottom: 20px;
}
.footer_content_columns_item_link_bl {
	margin-left: 10px;
	font-weight: 600;
}
.footer_content_columns_item_social {
	display: flex;
	align-items: center;
}
.footer_content_columns_item_social_link:not(:last-child){
	margin-right: 25px;
}
.footer_content_info {
	font-family: "Josefin Sans", sans-serif;
	font-size: 14px;
	color: #222222;
	margin-top: 85px;
	position: relative;
}
.footer_content_info::after{
	content: '';
	position: absolute;
	bottom: 50px;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #ccbba97a;
}